/* basics*/
.container{
	max-width:950px;
	margin:0 auto;
}
.absolute{
	position: absolute;
}
.relative{
	position: relative;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.clear{
	clear: both;
}
.inline-block{
	display: inline-block;
}
.display-block{
	display: block;
}
.flex{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
}

 /* basics end*/

 /* header */

 .header-main{
 	background-color: #ebebeb;
 	padding-top:40px;
 }
 .header-up{
 	justify-content: space-between;
 }
 .left-block{
 	padding-bottom:40px;
 }
 .logo{
 	padding-right:15px;
 }
 .logo-h1{
 	font-size:39.06px;
 	color: #6017a3;
 	font-family: 'Nexa-black';
 }
 .logo-p{
 	font-size:12px;
 	color:#7d7d7d;
 	font-family: 'PT Sans-italic';
 }
 .input-div{
 	width:300px;
 	height: 50px;
 }
 .search-input{
 	width: 100%;
 	height: 100%;
 	background-color: #fff;
    border: 0px solid;
 }
 .search-input::placeholder {
    color:#959595;
    font-size:12px;
    font-family: 'Nexa-regular';
    padding-left:20px;
 }
 .clock-img{
 	right: 15px;
 	bottom: 15px;
 }
.quicklinks{
	width:155px;
	padding-top:20px;
	margin-right:24px;

}
.quicklinks-purple1{
	color:#7449a9;
	font-size:12px;
	font-family: 'Nexa-regular';
}.quicklinks-purple2{
	color:#7449a9;
	font-size:12px;
	font-family: 'Nexa-regular';
	right: 0;
	transform:rotate(90deg);
}
.line{
	height: 25px;
	width: 1px;
	background-color: #c7c7c7;
	margin-top:14px;
	margin-left:20px;
	margin-right:20px;
}
.map-pin-quicklink{
	height: 18px;
    margin-top: 17px;
}
.quicklinks-gray{
	color:#d5d5d5;
	font-size:12px;
	font-family: 'Nexa XBold';
	margin-right: 20px;
	margin-top:20px;
}
header nav ul{
	justify-content: space-between;
}
header nav ul li{
	width:16.25%;
	height: 115px;
	background-color: #fff;
	z-index: 1000;
}
header nav ul li a{
    color: #707070;
    font-size: 14.5px;
    font-family: 'PT Sans-bold';
    bottom:40px;
    left:50%;
    transform:translateX(-50%);
}
.line2{
	width:100%;
	height: 5px;
	background-color: #6017a3;
	bottom:0;
}
.nav-logo{
	top:18px;
	left:50%;
	transform: translateX(-50%);
}

/*   header end*/

/*banner*/

.banner{
	width:100%;
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover;
	top:-13px;
	z-index:0;
}

/*banner end*/

/*map*/
.map-main{
	display: block;
	background-color: #2d2d2d;
	padding-top:39%;
	overflow: hidden;
}
.map-h1{
	font-family: 'Nexa Book';
	font-size:36px;
	color:#FFF;
}
.map-h3{
	font-family: 'Nexa XBold';
	font-size:14px;
	color:#a161db;
	padding-top:12px;
	padding-bottom:25px;
}
.map-images{
	width: 700px;
	justify-content: space-between;
	align-items: center;
	transform: translateX(21%);
	padding-bottom:63px;
}
.map-line{
	width: 140px;
	height: 2px;
	background-color: #6d6d6d;
}
.map-articles{
	width: 100%;
	justify-content: space-between;
	padding-bottom:105px;
}
.map-article{
	width:31.3%;
}
.map-article-h1{
	color:#fff;
	font-family: 'Nexa Book';
	font-size:24px;
	padding-bottom:25px;
}
.map-article-p{
	font-family: 'Arial';
	font-size:16px;
	color:#fff;
}
/*map end*/

/*computer*/
.computer-main{
	background-color: #222222;
	padding-top:55px;
}
.computer-img{
	width:100%;
}
.computer-h1{
	font-family: 'Nexa Book';
	font-size:26px;
	color:#fff;
	bottom:123px;
	left:50%;
	transform: translateX(-50%);
}
.computer-p{
	color:#a161db;
	font-size: 14px;
	font-family: 'Nexa-bold';
	bottom:93px;
	left:50%;
	transform: translateX(-50%);
}
/*computer end*/

/*members*/
.members-main{
	background-color: #ebebeb;
	padding-top:80px;
	padding-bottom: 35px;
}
.members-h1-div{
	justify-content: space-between;
	align-items: center;
}
.members-h1-line{
	background-color: #dedede;
	height: 2px;
	width:220px;
}
.members-h1{
	color:#717171;
	font-size:36px;
	font-family: 'Nexa Book';
}
.small-h3{
	justify-content: center;
	padding-top:15px;
	padding-bottom:44px;
}
.members-h3{
	color:#717171;
	font-family: 'Nexa-bold';
	font-size:14px;
}
.member-photos{
	justify-content: space-between;
}
.members-img{
	padding-bottom:15px;
}
.member-name{
	font-family: 'PT Sans-bold';
	font-size:18px;
	color:#7b7b7b;
}
.member-profession{
	font-family: 'PT Sans-regular';
	color:#7b7b7b;
	font-size:14px;
	padding-top:12px;
	padding-bottom:37px;
}
.circles{
	justify-content: center;
	padding-bottom:45px;
}
.circle1{
	width: 10px;
	height: 10px;
	background: #979797;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-left:7px;
}
.circle2{
	width: 10px;
	height: 10px;
	background: #979797;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-left:7px;
}
.circle3{
	width: 10px;
	height: 10px;
	background: #979797;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-left:7px;
}
.circle4{
	width: 10px;
	height: 10px;
	background: #979797;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-left:7px;
}
.circle1:hover, .circle2:hover, .circle3:hover, .circle4:hover{
	background:#8f33c4;
}
.members-article-div{
	justify-content: space-between;
	padding-bottom:17px;
}
.members-article{
	width: 49%;
	background-color: #fff;
}
.small-container{
	max-width:350px;
	margin:0 auto;
}
.members-article-h1{
	padding-top:31px;
	font-size: 30px;
	font-family: 'MyriadProRegular';
	color:#252525;
}
.members-article-p-purple{
	padding-top:25px;
	padding-bottom:45px;
	font-size:14px;
	font-family: 'Nexa-bold';
	color:#6017a3;
}
.members-article-p-gray{
	padding-bottom:75px;
	font-size:15px;
	font-family: 'Arial';
	color:#949494;
}
.members-article2{
	background-color: #fff;
	padding-top:70px;
}
.medium-container{
	max-width: 815px;
	margin:0 auto;
}
.members-article2-h1{
	color:#222222;
	font-size: 30px;
	font-family: 'Nexa-bold';
	padding-bottom:30px;
}
.members-article2-p-purple{
	font-size:14px;
	font-family: 'MyriadProRegular';
    color:#6724a6;
    padding-bottom:45px;
}
.members-article2-p-gray{
	font-family: 'Arial';
	font-size:15px;
	color:#949494;
	padding-bottom:65px;
}
.purple-div{
	width:100%;
	height: 4px;
	background-color: #914dcf;
}
/*members end*/

/*footer*/
.footer-main{
	background-color: #373737;
	padding-bottom:70px;
	padding-top:25px;
}
.footer-blocks1{
	justify-content: space-between;
	align-items: center;
	padding-bottom:40px;
}
.footer-blocks2{
	justify-content: space-between;
	padding-bottom:50px;
}
.footer-logo{
 	padding-right:15px;
 }
 .footer-logo-h1{
 	font-size:39.06px;
 	color:#fff;
 	font-family: 'Nexa-black';
 }
 .footer-logo-p{
 	font-size:12px;
 	color:#7d7d7d;
 	font-family: 'PT Sans-italic';
 }
.footer-line{
	width: 1px;
	height:11px ;
	margin-left:21px;
	margin-right: 21px;
	background-color:#767676 ;
}
.footer-right-block1-a{
	color:#fff;
	font-size:12px;
	font-family: 'MyriadProRegular';
}
.left-block2{
	width:49.7%;
}
.right-block2{
   width:37.3%;
}
.right-block2-div{
	align-items: center;
}
.left-block2-p{
	font-family: 'PT Sans-bold';
	font-size:12px;
	color:#fff;
}
.right-block2-img{
	height: 9px;
}
.right-block2-p{
	padding-left:6px;
	padding-right: 35px;
	color:#fff;
	font-family: 'PT Sans-bold';
	font-size: 12px;
}
.footer-p-white{
	padding-right: 16px;
	color:#fff;
	font-family: 'PT Sans-bold';
	font-size:12px;
}
.last-p{
	padding-top:27px;
	font-family: 'PT Sans-bold';
	font-size:11px;
	color:#7e7e7e;
}
.lasty-p{
	font-family: 'PT Sans-bold';
	font-size:11px;
	color:#7e7e7e;
}
/*footer end*/

/*responsive*/

/*responsive end*/